.nav {
    width: auto;
    height: 40px;
    border-bottom: 2px solid rgb(240, 240, 236);
    background-color:rgb(240, 240, 236) ;
}

.image {
    width: 40px;
    height: 40px;
    margin-left: 93%;
    border-radius: 60%;
    margin-top:1px ;
}