.form {
    display: flex;
    flex-direction: column;
 }

.form>p{
    color:#dd0303;
    text-align: center;
}
 
.h1 {
    text-align: center;
 }
 
.input {
    width: 500px;
    height: 30px;
    margin-left: 500px;
 }
 
 .btn {
    width: 507px;
    height: 30px;
    background-color: rgb(66, 133, 248);
    border: 0px solid;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    margin-left: 500px;
 }